*
{
    width: 100%;
    margin: 0;
}

 .button_header input 
{
    border: 0;
    background: transparent;
    z-index: 1;
    
}

a
{
    width: 100px;
}

a > img
{
    width: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

.menu
{
    display: flex;
    height: 100px;
    position: fixed;
    justify-content: space-between;
    top: 0;
    background: #FFF;
}

.header_left 
{
    display: flex;
    
}

form{
    display: flex;
}
.item_search
{
    background-color: #9f9f9f;
    height: 30px;
    width: 200px;
    border: 0;
    margin-top: 26px;
    margin-right: 20px;
}

.submit
{
    background-color: #ffffff;
    height: 30px;
    width: 200px;
    
    margin-top: 26px;
    margin-right: 20px;
}

.header_right
{
    display: flex;
    height: 100px;
    width: 60%;
}

.header_text_left
{
    color: silver;
    border-left: solid 1px silver;
    margin: 20px;
    padding: 10px;

}

.drop-down{
    width: 200px;
    border: 1px solid #737373;
    border-radius: 10px;
    display: none;
    background-color: #FFF;
}

.drop-down-button:hover .drop-down{
    display: block;
}

.menu button{
    width: 60px;
    height: 50px;
    margin-top: 20px;
    margin-right: 20px;
    color: blue;
    background-color: #FFF;
    border: 0;
    border-color: none;
    font-family: "Roboto Condensed";
    font-size: 18px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.content1
{
    display: flex;
    flex-flow: row wrap;
    margin: 5% 0%;
    justify-content: space-between
}
.card
{
    width: 23%;
    height: auto;
    border-radius: 10%;
    margin: 5%;
}



.photo-container
{
    height: 100%;
    align-self: center;
    text-align: center;
    align-items: center;   
}

.photo
{
    background-image: url(img_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 21vw;
    border-radius: 10%;
    display: grid;
}

.photo-text
{
    z-index: 100; 
    width: 100%;
    color: white; 
}

.discriptions-container
{
    width: 100%;
    text-align: center;
    background: rgba(220,220,220,0.2);
    color: white;
}

.button
{
    width: 100%;
    background: rgba(0,0,0,0.9);
    color: white;
    border-radius: 0% 0% 10% 10%;
}